<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              	<!-- rewrite correct location of viewer's configuration file -->
                <rule name="rewriteConfig" stopProcessing="true">
                    <match url="config.json" />
                    <action type="Rewrite" url="config_{C:1}.json" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="(zen.+)\..*\." />
                    </conditions>
                </rule>
                <!-- ensure HTTPS -->
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found"/>
                </rule>
                <!-- rewrite to root for HTML 5 history support -->
                <rule name="pushStateSupport" stopProcessing="true">
                    <match url="(.*)" negate="false"/>
                    <action type="Rewrite" url="/"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/(iconography)" negate="true"/>
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <staticContent>
          <!-- mimeMap fileExtension=".json" mimeType="application/json" />-->
          <mimeMap fileExtension=".properties" mimeType="text/plain" />
          <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
        </staticContent>
    </system.webServer>
</configuration>
